<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Start date</th>
      <th>Deadline</th>
      <th>Created By</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.question %></td>
      <td><%= poll.start_date.to_s(:simple) %></td>
      <td><%= poll.deadline.to_s(:simple) %></td>
  
      <td><%= link_to 'Show', poll %></td>
      <% if admin_is_logged_in? %>
      <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
      <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_is_logged_in? %>
<%= link_to 'New Poll', new_poll_path %>
=======
<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
>>>>>>> 1314a6f8583dd83eb729293ffacfd5ac19b0455f
<% end %>
